#initially-showing {
  display: none; 
}
img {
  width: 100%;
  float:left;
  padding: 20px;
  margin: 20px;
  border-style: dotted;
  border-width: 5px;
  border-color: #A0B03E;
}
body {
  background-color: #A1CE72;
}

.clickable {
  cursor: pointer;
  color: #4A9212;
}

.clickable:hover {
  text-decoration: underline;
}

#showing-list {
  display: none;
}

#clickable-list {
  cursor: pointer;
  color: #4A9212;
}
#clickable-list:hover {
  text-decoration: underline;
}