#initially-showing {
  display: none; 
}
#hidden-img {
  width: 500px;
  float:left;
  padding: 20px;
  margin: 20px;
  border-style: dotted;
  border-width: 5px;
  border-color: #A0B03E;
}
body {
  background-color: #A1CE72;
}

.clickable {
  cursor: pointer;
  color: #4A9212;
}

.clickable:hover {
  text-decoration: underline;
}

#showing-list {
  display: none;
}

#clickable-list {
  cursor: pointer;
  color: #4A9212;
}
#clickable-list:hover {
  text-decoration: underline;
}

#slide-info-showing {
  display: none;
}

.clickable-img {
  cursor: pointer;
}
.clickable-img:hover {
  border: 20px solid green;
}
/* .slide-img {
  width: 300px;
  height: auto;
} */

#small-img {
  width: 300px;
  height: auto;
}

.less-green-background {
  background-color: #A4B296;
}

.yellow-green-background {
  background-color: #B3CF2E;
}

.dark-green-background {
  background-color: #5C6D33;
}